# -------------------------
# Terraform
# -------------------------

.terraform/
*.tfstate
*.tfstate.*
*.tfplan

crash.log
crash.*.log

# Local Terraform variable files
*.tfvars
*.tfvars.json

# Terraform CLI local configuration
.terraformrc
terraform.rc


# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]

.venv/
venv/

.pytest_cache/
.coverage
htmlcov/


# -------------------------
# Environment / secrets
# -------------------------

.env
.env.*


# -------------------------
# IDE
# -------------------------

.vscode/
.idea/


# -------------------------
# OS
# -------------------------

.DS_Store
Thumbs.db

# -------------------------
functions/*/build/